<div class="column">
  <h2 class= "title">Answer this quiz</h2>
  <p id="message" class="bold"></p>
  {{!-- Remove buttons other elements on the page if they have answered all the questions or an error occurred --}}
  <div class="row">
    <div class="col-9">
        <h3></h3>{{Quiz.question}}<h3>
    </div>
  </div>
</div>


<div class="container text-center">
  <div class="row">
    <div class="col-6 col-sm-3">
        <button type="button" class="btn btn-primary">{{Quiz.answer_one}}</button>
    </div>
    <div class="col-6 col-sm-3">
      <button type="button" class="btn btn-success">{{Quiz.answer_two}}</button>
    </div>

    <!-- Force next columns to break to new line -->
    <div class="w-100"></div>

    <div class="col-6 col-sm-3">
        <button type="button" class="btn btn-danger">{{Quiz.answer_three}}</button>
    </div>
    <div class="col-6 col-sm-3">
        <button type="button" class="btn btn-warning">{{Quiz.answer_four}}</button>
    </div>
  </div>
</div>

<!-- javascript file-->
<script src="./js/quiz.js"></script>